@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Anton', sans-serif;
  --color-landing-bg-start: #ffeaf3;
  --color-landing-bg-end: #e8f4ff;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}